<div [formGroup]="form">
    <div class="fv-row mb-10">
        <div class="mb-3">
            <label for="identificationType" class="form-label required">{{labels.personalInformation.identificationType.label}}</label>
            <select 
                id="identificationType"
                class="form-select form-select-lg form-select-solid"
                formControlName="identificationType"
                (change)="clearForm(form.controls['identificationType'].value)"
                [ngClass]="{
                    'is-invalid': form.controls['identificationType'].invalid && form.controls['identificationType'].touched,
                    'is-valid': form.controls['identificationType'].valid
                }"
            >
                <option value="">{{labels.personalInformation.identificationType.label}}</option>
                <option value="cedula">Cedula</option>
                <option value="pasaporte">Pasaporte</option>
            </select>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'required',
                message: labels.personalInformation.identificationType.required,
                control: form.controls['identificationType']
            }"></ng-container>
        </div>
        <div class="mb-3">
            <label for="identification" class="form-label required"> {{labels.personalInformation.identification.label}} </label>
            <input id="identification" type="text" class="form-control form-control-sm form-control-solid" formControlName="identification" 
                [ngClass]="{
                    'is-invalid': form.controls['identification'].invalid && form.controls['identification'].touched,
                    'is-valid': form.controls['identification'].valid
                }"
            />
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'required',
                message: labels.personalInformation.identification.required,
                control: form.controls['identification']
            }"></ng-container>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'invalidIdentification',
                message: labels.personalInformation.identification.invalidIdentification,
                control: form.controls['identification']
            }"></ng-container>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'invalidDocument',
                message: labels.personalInformation.identification.invalidDocument,
                control: form.controls['identification']
            }"></ng-container>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'minlength',
                message: labels.personalInformation.identification.minlength,
                control: form.controls['identification']
              }"></ng-container>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'maxlength',
                message: labels.personalInformation.identification.maxlength,
                control: form.controls['identification']
              }"></ng-container>
        </div>
        <div class="mb-3">
            <label for="lastName" class="form-label required"> {{labels.personalInformation.lastName.label}} </label>
            <input id="lastName" type="text" class="form-control form-control-sm form-control-solid" formControlName="lastName"
                [ngClass]="{
                    'is-invalid': form.controls['lastName'].invalid && form.controls['lastName'].touched,
                    'is-valid': form.controls['lastName'].valid
                }"
            />
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'required',
                message: labels.personalInformation.lastName.required,
                control: form.controls['lastName']
            }"></ng-container>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'maxlength',
                message: labels.personalInformation.lastName.maxlength,
                control: form.controls['lastName']
              }"></ng-container>
        </div>
        <div class="mb-3">
        <label for="name" class="form-label required"> {{labels.personalInformation.name.label}} </label>
        <input id="name" type="text" class="form-control form-control-sm form-control-solid" formControlName="name"
            [ngClass]="{
                'is-invalid': form.controls['name'].invalid && form.controls['name'].touched,
                'is-valid': form.controls['name'].valid
            }"
        />
        <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'required',
                message: labels.personalInformation.name.required,
                control: form.controls['name']
            }"></ng-container>
        <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'maxlength',
            message: labels.personalInformation.name.maxlength,
            control: form.controls['name']
          }"></ng-container>
        </div>
        <div class="mb-3">
            <label for="birthdate" class="form-label required"> {{labels.personalInformation.birthday.label}} </label>
            <input
                id="birthdate"
                type="date"
                formControlName="birthdate"
                class="form-control form-control-sm form-control-solid"
                [ngClass]="{
                    'is-invalid': form.controls['birthdate'].invalid && form.controls['birthdate'].touched,
                    'is-valid': form.controls['birthdate'].valid
                }"
            />
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'required',
                message: labels.personalInformation.birthday.required,
                control: form.controls['birthdate']
            }"></ng-container>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'invalidDate',
                message: labels.personalInformation.birthday.invalidDate,
                control: form.controls['birthdate']
            }"></ng-container>
        </div>
        <div class="mb-3">
            <label for="gender" class="form-label required"> {{labels.personalInformation.gender.label}} </label>
            <select id="gender" class="form-select form-select-lg form-select-solid" formControlName="gender"
                [ngClass]="{
                    'is-invalid': form.controls['gender'].invalid && form.controls['gender'].touched,
                    'is-valid': form.controls['gender'].valid
                }"
            >
                <option value="">{{labels.personalInformation.gender.default}}</option>
                <option value="m">Masculino</option>
                <option value="f">Femenino</option>
            </select>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'required',
                message: labels.personalInformation.gender.required,
                control: form.controls['gender']
            }"></ng-container>
        </div>
        <div class="mb-3">
            <label for="maritalStatus" class="form-label required">{{labels.personalInformation.maritalStatus.label}}</label>
            <select id="maritalStatus" class="form-select form-select-lg form-select-solid" formControlName="maritalStatus"
                [ngClass]="{
                    'is-invalid': form.controls['maritalStatus'].invalid && form.controls['maritalStatus'].touched,
                    'is-valid': form.controls['maritalStatus'].valid
                }"
            >
                <option value="">{{labels.personalInformation.maritalStatus.default}}</option>
                <option value="S">Soltero</option>
                <option value="C">Casado</option>
                <option value="V">Viudo</option>
                <option value="U">Union de Hechos</option>
            </select>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'required',
                message: labels.personalInformation.maritalStatus.required,
                control: form.controls['maritalStatus']
            }"></ng-container>
        </div>
        <div class="mb-3">
            <label for="ethnicity" class="form-label required">{{labels.personalInformation.ethnicity.label}}</label>
            <select id="ethnicity" class="form-select form-select-lg form-select-solid" formControlName="ethnicity"
                [ngClass]="{
                    'is-invalid': form.controls['ethnicity'].invalid && form.controls['ethnicity'].touched,
                    'is-valid': form.controls['ethnicity'].valid
                }"
            >
                <option value="">{{labels.personalInformation.ethnicity.default}}</option>
                <option value="Mestizo">Mestizo</option>
                <option value="Montuvio">Montuvio</option>
            </select>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'required',
                message: labels.personalInformation.ethnicity.required,
                control: form.controls['ethnicity']
            }"></ng-container>
        </div>
        <div class="form-check mb-3">
            <label for="disability" class="form-label"> {{labels.personalInformation.disability.label}} </label>
            <input
                id="disability"
                type="checkbox"
                formControlName="disability"
                class="form-check-input pl-5"
            />
        </div>
        <div class="mb-3" *ngIf="form.get('disability')?.value">
            <label for="disabilityType" class="form-label required">{{labels.personalInformation.disabilityType.label}}</label>
            <select id="disabilityType" class="form-select form-select-lg form-select-solid" formControlName="disabilityType"
                [ngClass]="{
                    'is-invalid': form.controls['disabilityType'].invalid && form.controls['disabilityType'].touched,
                    'is-valid': form.controls['disabilityType'].valid
                }"
            >
                <option value="">{{labels.personalInformation.disabilityType.default}}</option>
                <option value="Auditiva">Auditiva</option>
                <option value="Fisica">Fisica</option>
            </select>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'required',
                message: labels.personalInformation.disabilityType.required,
                control: form.controls['disabilityType']
            }"></ng-container>
        </div>
        <div class="mb-3" *ngIf="form.get('disability')?.value">
            <label for="disabilityPercent" class="form-label required">{{labels.personalInformation.disabilityPercent.label}}</label>
            <input id="disabilityPercent" type="number" class="form-control form-control-sm form-control-solid" formControlName="disabilityPercent" 
                [ngClass]="{
                    'is-invalid': form.controls['disabilityPercent'].invalid && form.controls['disabilityPercent'].touched,
                    'is-valid': form.controls['disabilityPercent'].valid
                }"
            />
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'required',
                message: labels.personalInformation.disabilityPercent.required,
                control: form.controls['disabilityPercent']
            }"></ng-container>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'min',
                message: labels.personalInformation.disabilityPercent.min,
                control: form.controls['disabilityPercent']
            }"></ng-container>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'max',
                message: labels.personalInformation.disabilityPercent.max,
                control: form.controls['disabilityPercent']
            }"></ng-container>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'pattern',
                message: labels.personalInformation.disabilityPercent.pattern,
                control: form.controls['disabilityPercent']
            }"></ng-container>
        </div>
        <div class="mb-3">
            <label for="nacionality" class="form-label required">{{labels.personalInformation.nacionality.label}}</label>
            <select id="nacionality" class="form-select form-select-lg form-select-solid" formControlName="nacionality"
                [ngClass]="{
                    'is-invalid': form.controls['nacionality'].invalid && form.controls['nacionality'].touched,
                    'is-valid': form.controls['nacionality'].valid
                }"
            >
                <option value="">{{labels.personalInformation.nacionality.default}}</option>
                <option value="Ecuatoriana">Ecuatoriana</option>
                <option value="Española">Española</option>
            </select>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'required',
                message: labels.personalInformation.nacionality.required,
                control: form.controls['nacionality']
            }"></ng-container>
        </div>
        <div class="mb-3">
            <label for="emailAddress" class="form-label required">{{labels.personalInformation.emailAddress.label}}</label>
            <input id="emailAddress" type="email" class="form-control form-control-sm form-control-solid" formControlName="emailAddress" 
                [ngClass]="{
                    'is-invalid': form.controls['emailAddress'].invalid && form.controls['emailAddress'].touched,
                    'is-valid': form.controls['emailAddress'].valid
                }"
            />
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'required',
                message: labels.personalInformation.emailAddress.required,
                control: form.controls['emailAddress']
            }"></ng-container>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'maxlength',
                message: labels.personalInformation.emailAddress.maxlength,
                control: form.controls['emailAddress']
            }"></ng-container>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'pattern',
                message: labels.personalInformation.emailAddress.pattern,
                control: form.controls['emailAddress']
            }"></ng-container>
        </div>
        <div class="mb-3">
            <label for="confirmEmailAddress" class="form-label required">{{labels.personalInformation.confirmEmailAddress.label}}</label>
            <input id="confirmEmailAddress" type="email" class="form-control form-control-sm form-control-solid" formControlName="confirmEmailAddress" 
                [ngClass]="{
                    'is-invalid': form.controls['confirmEmailAddress'].invalid && form.controls['confirmEmailAddress'].touched,
                    'is-valid': form.controls['confirmEmailAddress'].valid
                }"
            />
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'required',
                message: labels.personalInformation.confirmEmailAddress.required,
                control: form.controls['confirmEmailAddress']
            }"></ng-container>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'emailAddressMismatch',
                message: labels.personalInformation.confirmEmailAddress.emailAddressMismatch,
                control: form.controls['confirmEmailAddress']
            }"></ng-container>
        </div>
        <div class="mb-3">
            <label for="secondEmailAddress" class="form-label">{{labels.personalInformation.secondEmailAddress.label}}</label>
            <input id="secondEmailAddress" type="email" class="form-control form-control-sm form-control-solid" formControlName="secondEmailAddress" 
                [ngClass]="{
                    'is-invalid': form.controls['secondEmailAddress'].invalid && form.controls['secondEmailAddress'].touched,
                    'is-valid': form.controls['secondEmailAddress'].valid
                }"
            />
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'pattern',
                message: labels.personalInformation.secondEmailAddress.pattern,
                control: form.controls['secondEmailAddress']
            }"></ng-container>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'repeatedEmailAddress',
                message: labels.personalInformation.secondEmailAddress.repeatedEmailAddress,
                control: form.controls['secondEmailAddress']
            }"></ng-container>
        </div>
        <div class="mb-3">
            <label for="phoneNumber" class="form-label required">{{labels.personalInformation.phoneNumber.label}}</label>
            <input id="phoneNumber" type="text" class="form-control form-control-sm form-control-solid" formControlName="phoneNumber" 
                [ngClass]="{
                    'is-invalid': form.controls['phoneNumber'].invalid && form.controls['phoneNumber'].touched,
                    'is-valid': form.controls['phoneNumber'].valid
                }"
            />
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'required',
                message: labels.personalInformation.phoneNumber.required,
                control: form.controls['phoneNumber']
            }"></ng-container>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'minlength',
                message: labels.personalInformation.phoneNumber.minlength,
                control: form.controls['phoneNumber']
            }"></ng-container>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'maxlength',
                message: labels.personalInformation.phoneNumber.maxlength,
                control: form.controls['phoneNumber']
            }"></ng-container>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'pattern',
                message: labels.personalInformation.phoneNumber.pattern,
                control: form.controls['phoneNumber']
            }"></ng-container>
        </div>
        <div class="mb-3">
            <label for="cellPhone" class="form-label required">{{labels.personalInformation.cellPhone.label}}</label>
            <input id="cellPhone" type="text" class="form-control form-control-sm form-control-solid" formControlName="cellPhone" 
                [ngClass]="{
                    'is-invalid': form.controls['cellPhone'].invalid && form.controls['cellPhone'].touched,
                    'is-valid': form.controls['cellPhone'].valid
                }"
            />
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'required',
                message: labels.personalInformation.cellPhone.required,
                control: form.controls['cellPhone']
            }"></ng-container>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'pattern',
                message: labels.personalInformation.cellPhone.pattern,
                control: form.controls['cellPhone']
            }"></ng-container>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'minlength',
                message: labels.personalInformation.cellPhone.minlength,
                control: form.controls['cellPhone']
            }"></ng-container>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'maxlength',
                message: labels.personalInformation.cellPhone.maxlength,
                control: form.controls['cellPhone']
            }"></ng-container>
        </div>
        <div class="mb-3">
            <label for="secondCellPhone" class="form-label">{{labels.personalInformation.secondCellPhone.label}}</label>
            <input id="secondCellPhone" type="text" class="form-control form-control-sm form-control-solid" formControlName="secondCellPhone" 
                [ngClass]="{
                    'is-invalid': form.controls['secondCellPhone'].invalid && form.controls['secondCellPhone'].touched,
                    'is-valid': form.controls['secondCellPhone'].valid
                }"
            />
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'pattern',
                message: labels.personalInformation.secondCellPhone.pattern,
                control: form.controls['secondCellPhone']
            }"></ng-container>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'minlength',
                message: labels.personalInformation.secondCellPhone.minlength,
                control: form.controls['secondCellPhone']
            }"></ng-container>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'maxlength',
                message: labels.personalInformation.secondCellPhone.maxlength,
                control: form.controls['secondCellPhone']
            }"></ng-container>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'cellPhoneMatch',
                message: labels.personalInformation.secondCellPhone.cellPhoneMatch,
                control: form.controls['secondCellPhone']
            }"></ng-container>
        </div>
    </div>
</div>

<ng-template #formError let-control="control" let-message="message" let-validation="validation">
    <ng-container *ngIf="(control.hasError(validation) || control.parent?.hasError(validation)) && (control.dirty || control.touched)">
        <div class="fv-plugins-message-container">
            <span role="alert" class="text-danger">
                {{ message }}
            </span>
        </div>
    </ng-container>
</ng-template>