<div [formGroup]="form">
    <div class="fv-row mb-10">
        <div class="mb-3">
            <label for="password" class="form-label required">Comtraseña</label>
            <input id="password" type="password" class="form-control" formControlName="password" 
                [ngClass]="{
                    'is-invalid': form.controls['password'].invalid && form.controls['password'].touched,
                    'is-valid': form.controls['password'].valid
                }"
            />
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'required',
                message: 'Comtraseña es requerido',
                control: form.controls['password']
            }"></ng-container>
        </div>
        <div class="mb-3">
            <label for="confirmPassword" class="form-label required">Confirmar Contraseña</label>
            <input id="confirmPassword" type="password" class="form-control" formControlName="confirmPassword"
                [ngClass]="{
                    'is-invalid': form.controls['confirmPassword'].invalid && form.controls['confirmPassword'].touched,
                    'is-valid': form.controls['confirmPassword'].valid
                }"
            />
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'required',
                message: 'Confirmar Contraseña es requerido',
                control: form.controls['confirmPassword']
            }"></ng-container>
        </div>
        <div class="mb-3">
            <label for="securityQuestionOne" class="form-label required">Pregunta de Seguridad #1</label>
            <select id="securityQuestionOne" class="form-control" formControlName="securityQuestionOne"
                [ngClass]="{
                    'is-invalid': form.controls['securityQuestionOne'].invalid && form.controls['securityQuestionOne'].touched,
                    'is-valid': form.controls['securityQuestionOne'].valid
                }"
            >
                <option value="">Seleccione Pregunta de Seguridad</option>
                <option value="1">Pregunta 1</option>
                <option value="2">Pregunta 2</option>
                <option value="3">Pregunta 3</option>
                <option value="4">Pregunta 4</option>
            </select>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'required',
                message: 'Pregunta de Seguridad #1 es requerido',
                control: form.controls['securityQuestionOne']
            }"></ng-container>
        </div>
        <div class="mb-3">
            <label for="securityAnswerOne" class="form-label required">Respuesta #1</label>
            <input id="securityAnswerOne" type="text" class="form-control" formControlName="securityAnswerOne" 
                [ngClass]="{
                    'is-invalid': form.controls['securityAnswerOne'].invalid && form.controls['securityAnswerOne'].touched,
                    'is-valid': form.controls['securityAnswerOne'].valid
                }"
            />
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'required',
                message: 'Respuesta #1 es requerido',
                control: form.controls['securityAnswerOne']
            }"></ng-container>
        </div>
        <div class="mb-3">
            <label for="securityQuestionTwo" class="form-label required">Pregunta de Seguridad #2</label>
            <select id="securityQuestionTwo" class="form-control" formControlName="securityQuestionTwo"
                [ngClass]="{
                    'is-invalid': form.controls['securityQuestionTwo'].invalid && form.controls['securityQuestionTwo'].touched,
                    'is-valid': form.controls['securityQuestionTwo'].valid
                }"
            >
                <option value="">Seleccione Pregunta de Seguridad</option>
                <option value="1">Pregunta 1</option>
                <option value="2">Pregunta 2</option>
                <option value="3">Pregunta 3</option>
                <option value="4">Pregunta 4</option>
            </select>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'required',
                message: 'Pregunta de Seguridad #2 es requerido',
                control: form.controls['securityQuestionTwo']
            }"></ng-container>
        </div>
        <div class="mb-3">
            <label for="securityAnswerTwo" class="form-label required">Respuesta #2</label>
            <input id="securityAnswerTwo" type="text" class="form-control" formControlName="securityAnswerTwo" 
                [ngClass]="{
                    'is-invalid': form.controls['securityAnswerTwo'].invalid && form.controls['securityAnswerTwo'].touched,
                    'is-valid': form.controls['securityAnswerTwo'].valid
                }"
            />
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'required',
                message: 'Respuesta #2 es requerido',
                control: form.controls['securityAnswerTwo']
            }"></ng-container>
        </div>
        <div class="mb-3">
            <label for="securityQuestionThree" class="form-label required">Pregunta de Seguridad #3</label>
            <select id="securityQuestionThree" class="form-control" formControlName="securityQuestionThree"
                [ngClass]="{
                    'is-invalid': form.controls['securityQuestionThree'].invalid && form.controls['securityQuestionThree'].touched,
                    'is-valid': form.controls['securityQuestionThree'].valid
                }"
            >
                <option value="">Seleccione Pregunta de Seguridad</option>
                <option value="1">Pregunta 1</option>
                <option value="2">Pregunta 2</option>
                <option value="3">Pregunta 3</option>
                <option value="4">Pregunta 4</option>
            </select>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'required',
                message: 'Pregunta de Seguridad #3 es requerido',
                control: form.controls['securityQuestionThree']
            }"></ng-container>
        </div>
        <div class="mb-3">
            <label for="securityAnswerThree" class="form-label required">Respuesta #3</label>
            <input id="securityAnswerThree" type="text" class="form-control" formControlName="securityAnswerThree" 
                [ngClass]="{
                    'is-invalid': form.controls['securityAnswerThree'].invalid && form.controls['securityAnswerThree'].touched,
                    'is-valid': form.controls['securityAnswerThree'].valid
                }"
            />
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'required',
                message: 'Respuesta #3 es requerido',
                control: form.controls['securityAnswerThree']
            }"></ng-container>
        </div>
    </div>
</div>


<ng-template #formError let-control="control" let-message="message" let-validation="validation">
    <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
        <div class="fv-plugins-message-container">
            <span role="alert" class="text-danger">
                {{ message }}
            </span>
        </div>
    </ng-container>
</ng-template>
