<div [formGroup]="form">
    <div class="fv-row mb-10">
        <div class="row">
            <div class="mb-3 col-lg-6 col-sm-12">
                <label for="password" class="form-label required">{{labels.password.label}}</label>
                <div class="position-relative">
                    <input id="password" [type]="showPassword.password ? 'text' : 'password'" class="form-control" formControlName="password" 
                        [ngClass]="{
                            'is-invalid': form.controls['password'].invalid && form.controls['password'].touched,
                            'is-valid': form.controls['password'].valid
                        }"
                    />
                    <i 
                        class="fas" 
                        [ngClass]="showPassword.password ? 'fa-eye-slash' : 'fa-eye'" 
                        (click)="togglePassword('password')"
                    ></i>
                </div>
                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                    validation: 'required',
                    message: labels.password.required,
                    control: form.controls['password']
                }"></ng-container>
                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                    validation: 'minlength',
                    message: labels.password.minlength,
                    control: form.controls['password']
                }"></ng-container>
                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                    validation: 'maxlength',
                    message: labels.password.maxlength,
                    control: form.controls['password']
                }"></ng-container>
                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                    validation: 'pattern',
                    message: labels.password.pattern,
                    control: form.controls['password']
                }"></ng-container>
            </div>
            <div class="mb-3 col-lg-6 col-sm-12">
                <label for="confirmPassword" class="form-label required">{{labels.confirmPassword.label}}</label>
                <div class="position-relative">
                    <input id="confirmPassword" [type]="showPassword.confirmPassword ? 'text' : 'password'" class="form-control" formControlName="confirmPassword"
                        [ngClass]="{
                            'is-invalid': form.controls['confirmPassword'].invalid && form.controls['confirmPassword'].touched,
                            'is-valid': form.controls['confirmPassword'].valid
                        }"
                    />
                    <i 
                        class="fas" 
                        [ngClass]="showPassword.confirmPassword ? 'fa-eye-slash' : 'fa-eye'" 
                        (click)="togglePassword('confirmPassword')"
                    ></i>
                </div>
                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                    validation: 'required',
                    message: labels.confirmPassword.required,
                    control: form.controls['confirmPassword']
                }"></ng-container>
                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                    validation: 'notMatch',
                    message: labels.confirmPassword.passwordMismatch,
                    control: form.controls['confirmPassword']
                }"></ng-container>
            </div>
        </div>
        <div class="row">
            <div class="mb-3 col-lg-6 col-sm-12">
                <label for="securityQuestionOne" class="form-label required">{{labels.securityQuestionOne.label}}</label>
                <select id="securityQuestionOne" class="form-control" formControlName="securityQuestionOne"
                    [ngClass]="{
                        'is-invalid': form.controls['securityQuestionOne'].invalid && form.controls['securityQuestionOne'].touched,
                        'is-valid': form.controls['securityQuestionOne'].valid
                    }"
                >
                    <option value="">{{labels.securityQuestionOne.default}}</option>
                    <option *ngFor="let question of questions" [value]="question.id">{{question.question}}</option>
                </select>
                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                    validation: 'required',
                    message: labels.securityQuestionOne.required,
                    control: form.controls['securityQuestionOne']
                }"></ng-container>
                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                    validation: 'notDistinct',
                    message: labels.securityQuestionOne.fieldsNotDistinct,
                    control: form.controls['securityQuestionOne']
                }"></ng-container>
            </div>
            <div class="mb-3 col-lg-6 col-sm-12">
                <label for="securityAnswerOne" class="form-label required">{{labels.securityAnswerOne.label}}</label>
                <input id="securityAnswerOne" type="text" class="form-control" formControlName="securityAnswerOne" 
                    [ngClass]="{
                        'is-invalid': form.controls['securityAnswerOne'].invalid && form.controls['securityAnswerOne'].touched,
                        'is-valid': form.controls['securityAnswerOne'].valid
                    }"
                />
                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                    validation: 'required',
                    message: labels.securityAnswerOne.required,
                    control: form.controls['securityAnswerOne']
                }"></ng-container>
                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                    validation: 'maxlength',
                    message: labels.securityAnswerOne.maxlength,
                    control: form.controls['securityAnswerOne']
                }"></ng-container>
            </div>
        </div>
        <div class="row">
            <div class="mb-3 col-lg-6 col-sm-12">
                <label for="securityQuestionTwo" class="form-label required">{{labels.securityQuestionTwo.label}}</label>
                <select id="securityQuestionTwo" class="form-control" formControlName="securityQuestionTwo"
                    [ngClass]="{
                        'is-invalid': form.controls['securityQuestionTwo'].invalid && form.controls['securityQuestionTwo'].touched,
                        'is-valid': form.controls['securityQuestionTwo'].valid
                    }"
                >
                    <option value="">{{labels.securityQuestionTwo.default}}</option>
                    <option *ngFor="let question of questions" [value]="question.id">{{question.question}}</option>
                </select>
                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                    validation: 'required',
                    message: labels.securityQuestionTwo.required,
                    control: form.controls['securityQuestionTwo']
                }"></ng-container>
                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                    validation: 'notDistinct',
                    message: labels.securityQuestionTwo.fieldsNotDistinct,
                    control: form.controls['securityQuestionTwo']
                }"></ng-container>
            </div>
            <div class="mb-3 col-lg-6 col-sm-12">
                <label for="securityAnswerTwo" class="form-label required">{{labels.securityAnswerTwo.label}}</label>
                <input id="securityAnswerTwo" type="text" class="form-control" formControlName="securityAnswerTwo" 
                    [ngClass]="{
                        'is-invalid': form.controls['securityAnswerTwo'].invalid && form.controls['securityAnswerTwo'].touched,
                        'is-valid': form.controls['securityAnswerTwo'].valid
                    }"
                />
                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                    validation: 'required',
                    message: labels.securityAnswerTwo.required,
                    control: form.controls['securityAnswerTwo']
                }"></ng-container>
                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                    validation: 'maxlength',
                    message: labels.securityAnswerTwo.maxlength,
                    control: form.controls['securityAnswerTwo']
                }"></ng-container>
            </div>
        </div>
        <div class="row">
            <div class="mb-3 col-lg-6 col-sm-12">
                <label for="securityQuestionThree" class="form-label required">{{labels.securityQuestionThree.label}}</label>
                <select id="securityQuestionThree" class="form-control" formControlName="securityQuestionThree"
                    [ngClass]="{
                        'is-invalid': form.controls['securityQuestionThree'].invalid && form.controls['securityQuestionThree'].touched,
                        'is-valid': form.controls['securityQuestionThree'].valid
                    }"
                >
                    <option value="">{{labels.securityQuestionThree.default}}</option>
                    <option *ngFor="let question of questions" [value]="question.id">{{question.question}}</option>
                </select>
                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                    validation: 'required',
                    message: labels.securityQuestionThree.required,
                    control: form.controls['securityQuestionThree']
                }"></ng-container>
                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                    validation: 'notDistinct',
                    message: labels.securityQuestionThree.fieldsNotDistinct,
                    control: form.controls['securityQuestionThree']
                }"></ng-container>
            </div>
            <div class="mb-3 col-lg-6 col-sm-12">
                <label for="securityAnswerThree" class="form-label required">{{labels.securityAnswerThree.label}}</label>
                <input id="securityAnswerThree" type="text" class="form-control" formControlName="securityAnswerThree" 
                    [ngClass]="{
                        'is-invalid': form.controls['securityAnswerThree'].invalid && form.controls['securityAnswerThree'].touched,
                        'is-valid': form.controls['securityAnswerThree'].valid
                    }"
                />
                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                    validation: 'required',
                    message: labels.securityAnswerThree.required,
                    control: form.controls['securityAnswerThree']
                }"></ng-container>
                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                    validation: 'maxlength',
                    message: labels.securityAnswerThree.maxlength,
                    control: form.controls['securityAnswerThree']
                }"></ng-container>
            </div>
        </div>
    </div>
</div>

<ng-template #formError let-control="control" let-message="message" let-validation="validation">
    <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
        <div class="fv-plugins-message-container">
            <span role="alert" class="text-danger">
                {{ message }}
            </span>
        </div>
    </ng-container>
</ng-template>
