<div [formGroup]="form">
    <div class="fv-row mb-10">
        <div class="row">
            <div class="mb-3 col-lg-6 col-sm-12">
                <label for="countryResidence" class="form-label required">{{labels.country.label}}</label>
                <select id="countryResidence" class="form-control" formControlName="countryResidence"
                    [ngClass]="{
                        'is-invalid': form.controls['countryResidence'].invalid && form.controls['countryResidence'].touched,
                        'is-valid': form.controls['countryResidence'].valid
                    }"
                    (change)="getProvinces()"
                >
                    <option value="">{{labels.country.default}}</option>
                    <option *ngFor="let country of countries" [value]="country.id">{{country.name}}</option>
                </select>
                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                    validation: 'required',
                    message: labels.country.required,
                    control: form.controls['countryResidence']
                }"></ng-container>
            </div>
            <div class="mb-3 col-lg-6 col-sm-12">
                <label for="provinceResidence" class="form-label required">{{labels.province.label}}</label>
                <select id="provinceResidence" class="form-control" formControlName="provinceResidence"
                    [ngClass]="{
                        'is-invalid': form.controls['provinceResidence'].invalid && form.controls['provinceResidence'].touched,
                        'is-valid': form.controls['provinceResidence'].valid
                    }"
                    (change)="getCities()"
                >
                    <option value="">{{labels.province.default}}</option>
                    <option *ngFor="let province of provinces" [value]="province.id">{{province.name}}</option>
                </select>
                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                    validation: 'required',
                    message: labels.province.required,
                    control: form.controls['provinceResidence']
                }"></ng-container>
            </div>
        </div>
        <div class="row">
            <div class="mb-3 col-lg-6 col-sm-12">
                <label for="cityResidence" class="form-label required">{{labels.city.label}}</label>
                <select id="cityResidence" class="form-control" formControlName="cityResidence"
                    [ngClass]="{
                        'is-invalid': form.controls['cityResidence'].invalid && form.controls['cityResidence'].touched,
                        'is-valid': form.controls['cityResidence'].valid
                    }"
                    (change)="getParishes()"
                >
                    <option value="">{{labels.city.default}}</option>
                    <option *ngFor="let city of cities" [value]="city.id">{{city.name}}</option>
                </select>
                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                    validation: 'required',
                    message: labels.city.required,
                    control: form.controls['cityResidence']
                }"></ng-container>
            </div>
            <div class="mb-3 col-lg-6 col-sm-12">
                <label for="parishResidence" class="form-label required">{{labels.parish.label}}</label>
                <select id="parishResidence" class="form-control" formControlName="parishResidence"
                    [ngClass]="{
                        'is-invalid': form.controls['parishResidence'].invalid && form.controls['parishResidence'].touched,
                        'is-valid': form.controls['parishResidence'].valid
                    }"
                    (change)="setZone()"
                >
                    <option value="">{{labels.parish.default}}</option>
                    <option *ngFor="let parish of parishes" [value]="parish.id">{{parish.name}}</option>
                </select>
                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                    validation: 'required',
                    message: labels.parish.required,
                    control: form.controls['parishResidence']
                }"></ng-container>
            </div>
        </div>
        <div class="row">
            <div class="mb-3 col-lg-6 col-sm-12">
                <label for="sector" class="form-label required">{{labels.sector.label}}</label>
                <input id="sector" type="text" class="form-control" formControlName="sector" 
                    [ngClass]="{
                        'is-invalid': form.controls['sector'].invalid && form.controls['sector'].touched,
                        'is-valid': form.controls['sector'].valid
                    }"
                />
                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                    validation: 'required',
                    message: labels.sector.required,
                    control: form.controls['sector']
                }"></ng-container>
                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                    validation: 'maxlength',
                    message: labels.sector.maxlength,
                    control: form.controls['sector']
                }"></ng-container>
            </div>
            <div class="mb-3 col-lg-6 col-sm-12">
                <label for="street" class="form-label required">{{labels.street.label}}</label>
                <input id="street" type="text" class="form-control" formControlName="street" 
                    [ngClass]="{
                        'is-invalid': form.controls['street'].invalid && form.controls['street'].touched,
                        'is-valid': form.controls['street'].valid
                    }"
                />
                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                    validation: 'required',
                    message: labels.sector.required,
                    control: form.controls['street']
                }"></ng-container>
                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                    validation: 'maxlength',
                    message: labels.sector.maxlength,
                    control: form.controls['street']
                }"></ng-container>
            </div>
        </div>
        <div class="row">
            <div class="mb-3 col-lg-6 col-sm-12">
                <label for="secondaryStreet" class="form-label required">{{labels.secondaryStreet.label}}</label>
                <input id="secondaryStreet" type="text" class="form-control" formControlName="secondaryStreet" 
                    [ngClass]="{
                        'is-invalid': form.controls['secondaryStreet'].invalid && form.controls['secondaryStreet'].touched,
                        'is-valid': form.controls['secondaryStreet'].valid
                    }"
                />
                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                    validation: 'required',
                    message: labels.secondaryStreet.required,
                    control: form.controls['secondaryStreet']
                }"></ng-container>
                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                    validation: 'maxlength',
                    message: labels.secondaryStreet.maxlength,
                    control: form.controls['secondaryStreet']
                }"></ng-container>
            </div>
            <div class="mb-3 col-lg-6 col-sm-12">
                <label for="number" class="form-label required">{{labels.number.label}}</label>
                <input id="number" type="text" class="form-control" formControlName="number" 
                    [ngClass]="{
                        'is-invalid': form.controls['number'].invalid && form.controls['number'].touched,
                        'is-valid': form.controls['number'].valid
                    }"
                />
                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                    validation: 'required',
                    message: labels.number.required,
                    control: form.controls['number']
                }"></ng-container>
                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                    validation: 'maxlength',
                    message: labels.number.maxlength,
                    control: form.controls['number']
                }"></ng-container>
            </div>
        </div>
        <div class="row">
            <div class="mb-3 col-lg-6 col-sm-12">
                <label for="geographicReference" class="form-label required">{{labels.geographicReference.label}}</label>
                <input id="geographicReference" type="text" class="form-control" formControlName="geographicReference" 
                    [ngClass]="{
                        'is-invalid': form.controls['geographicReference'].invalid && form.controls['geographicReference'].touched,
                        'is-valid': form.controls['geographicReference'].valid
                    }"
                />
                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                    validation: 'required',
                    message: labels.geographicReference.required,
                    control: form.controls['geographicReference']
                }"></ng-container>
                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                    validation: 'maxlength',
                    message: labels.geographicReference.maxlength,
                    control: form.controls['geographicReference']
                }"></ng-container>
            </div>
            <div class="mb-3 col-lg-6 col-sm-12">
                <label for="postalCode" class="form-label">{{labels.postalCode.label}}</label>
                <input id="postalCode" type="text" class="form-control" formControlName="postalCode" 
                    [ngClass]="{
                        'is-invalid': form.controls['postalCode'].invalid && form.controls['postalCode'].touched,
                        'is-valid': form.controls['postalCode'].valid
                    }"
                />
                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                    validation: 'maxlength',
                    message: labels.postalCode.maxlength,
                    control: form.controls['postalCode']
                }"></ng-container>
            </div>
        </div>
    </div>
</div>

<ng-template #formError let-control="control" let-message="message" let-validation="validation">
    <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
        <div class="fv-plugins-message-container">
            <span role="alert" class="text-danger">
                {{ message }}
            </span>
        </div>
    </ng-container>
</ng-template>