<div class="mb-0">
  <div
    class="
      notice
      d-flex
      bg-light-success
      rounded
      border-success border border-dashed
      p-6
    "
  >
    <span class="svg-icon fs-2tx text-success me-4"></span>
    <div class="d-flex flex-stack flex-grow-1">
      <div class="fw-bold">
        <h2 class="text-gray-800 fw-bolder">Felicidades, has activado tu cuenta!</h2>
        <div class="text-gray-500 fw-bold fs-6">
            Para iniciar sesión debe ir al siguiente 
            <a class="link-primary fw-bolder cursor-pointer"> enlace</a>.
        </div>
      </div>
    </div>
  </div>
</div>
