<div [formGroup]="form">
    <div class="fv-row mb-10">
        <div class="mb-3">
            <label for="country" class="form-label required">Pais</label>
            <select id="country" class="form-control" formControlName="country"
                [ngClass]="{
                    'is-invalid': form.controls['country'].invalid && form.controls['country'].touched,
                    'is-valid': form.controls['country'].valid
                }"
            >
                <option value="">Seleccione pais</option>
                <option value="Ecuador">Ecuador</option>
                <option value="España">España</option>
            </select>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'required',
                message: 'Pais es requerido',
                control: form.controls['country']
            }"></ng-container>
        </div>
        <div class="mb-3">
            <label for="province" class="form-label required">Estado / Provincia</label>
            <select id="province" class="form-control" formControlName="province"
                [ngClass]="{
                    'is-invalid': form.controls['province'].invalid && form.controls['province'].touched,
                    'is-valid': form.controls['province'].valid
                }"
            >
                <option value="">Seleccione Estado / Provincia</option>
                <option value="Guayas">Guayas</option>
                <option value="Pichincha">Pichincha</option>
            </select>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'required',
                message: 'Estado / Provincia es requerido',
                control: form.controls['province']
            }"></ng-container>
        </div>
        <div class="mb-3">
            <label for="city" class="form-label required">Canton / Ciudad</label>
            <select id="city" class="form-control" formControlName="city"
                [ngClass]="{
                    'is-invalid': form.controls['city'].invalid && form.controls['city'].touched,
                    'is-valid': form.controls['city'].valid
                }"
            >
                <option value="">Seleccione Canton / Ciudad</option>
                <option value="S">Quito</option>
                <option value="C">Cayambe</option>
            </select>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'required',
                message: 'Canton / Ciudad es requerido',
                control: form.controls['city']
            }"></ng-container>
        </div>
        <div class="mb-3">
            <label for="parish" class="form-label required">Parroquia</label>
            <select id="parish" class="form-control" formControlName="parish"
                [ngClass]="{
                    'is-invalid': form.controls['parish'].invalid && form.controls['parish'].touched,
                    'is-valid': form.controls['parish'].valid
                }"
            >
                <option value="">Seleccione parroquia</option>
                <option value="Carcelen">Carcelen</option>
                <option value="Calderon">Calderon</option>
            </select>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'required',
                message: 'Parroquia es requerido',
                control: form.controls['parish']
            }"></ng-container>
        </div>
    </div>
</div>

<ng-template #formError let-control="control" let-message="message" let-validation="validation">
    <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
        <div class="fv-plugins-message-container">
            <span role="alert" class="text-danger">
                {{ message }}
            </span>
        </div>
    </ng-container>
</ng-template>